
{% extends 'layouts/plantilla.twig' %}

{% block title %}Home - {% endblock %}

{% block stylesheets %}{% endblock %}

{% block cap %}
<h2 class= 'text-success text-center' >{{ ok ?? '' }}</h2>
{% endblock %}

{% block content %}

    {# {{ test }} #}

{% endblock %}
