
<!-- carousel __________________________________________________________________________________________ -->
  <div id="myCarousel" class="carousel slide bg-dark" data-bs-ride="carousel">
    <!--
    <ol class="carousel-indicators">
      <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>-->
    <div class="carousel-inner ">
      <div class="carousel-item active">
        <!--<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>-->
        <div class="container ">
          <div class="carousel-caption text-start text-light" >
            <h1 class="display-1">Hola {{ app.user.name }} :)</h1>
            <h2 class ="display-6">Bentornat/da a la teva àrea personal</h2>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!--<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>-->
        <div class="container">
          <div class="carousel-caption">
            <h1 class="display-1">Organitza't tota la feinada!</h1>
            <h2 class ="display-6">La feina feta no té destorb</h2>
            <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>-->
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!--<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>-->
        <div class="container">
          <div class="carousel-caption text-end">
            <h1 class="display-1">Tranquil/la! es pot arreglar</h1>
            <h2 class ="display-6">Modifica i/o elimina les teves bestieses</h2>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>