{# templates/bundles/TwigBundle/Exception/error404.html.twig #}

{% extends 'layouts/plantilla.twig' %}

{% block title %}Les Meves Tasques - {% endblock %}

{% block stylesheets %}{% endblock %}

{% block marketing %}{% endblock %}

{% block content %}

<h1>*FATAL 404 * PÀGINA NOT FOUND *</h1>

<br><br>
<code>............................................</code>
<h2>Aquesta URL no existeix!</h2>
<code>............................................</code>
<br><br>


{% endblock %}

